# Xcode
*.xcuserstate
xcuserdata/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# macOS
.DS_Store
.AppleDouble
.LSOverride

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Android / Gradle
.gradle/
build/
local.properties
*.iml
.idea/
captures/

# Kotlin
.kotlin/
